.container {
    max-width: 400px;
    background-color:darksalmon
}

.display {
    height: 70px;
    background-color:antiquewhite;
    line-height: 1.5;
    font-size: 28px;
    text-align: right;
    padding: 20px 10px;
    font-weight: bold;

}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
}

.btn{
    border: 2px solid black;
    text-align: center;
    line-height: 2.5;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;


}

.btn:hover{
    background-color: antiquewhite;
    color: darksalmon;
}